
$default: #ffffff;
$categoryColor: #00f1ff;
$background: #1D1D1D;


:root{
  --background: #1D1D1D;
  --text-primary: #ffffff;
  --input: rgb(58, 58, 58);
}

[data-theme='light']{
  --background: #dedede;
  --text-primary: #000000;
  --input: rgb(199, 199, 199);
}

%roboto-regular-400 {
  font-family: 'Roboto-Regular', sans-serif;
  font-weight: 400;
}

%roboto-medium-500 {
  font-family: 'Roboto-Medium', sans-serif;
  font-weight: 500;
}