
$default: #ffffff;
$categoryColor: #0FEFFD;


%roboto-regular-400 {
  font-family: 'Roboto-Regular', sans-serif;
  font-weight: 400;
}

%roboto-medium-500 {
  font-family: 'Roboto-Medium', sans-serif;
  font-weight: 500;
}